
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.banner{
    width:100%;
    height:100%;
    background-image: url('store/WhatsApp Image 2024-08-18 at 00.22.51_7e88ef75.jpg');
    background-repeat: no-repeat;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box {
    background: #fcb082;
    padding: 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.formsty {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing:border-box;
}
